CSS Document
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

/* body {
  background-color: white;
  color: #232323;
  font-family: "WoodfordBournePROW01-Rg", sans-serif;
  display: block;
  font-weight: 400;
}

div {
  display: block;
}

section:nth-of-type(1) {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

section:nth-of-type(1) img {

}

.slider-img {
  position: relative;
  height: 80vh;
  width: 100%;
}

.video-img {
  position: relative;
  width: 100%;
}

h2 {
  font-weight: 100;
  text-align: center;
  margin: .7em;
}

section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  text-align: center;
}

section:nth-of-type(3) img {
  max-width: 90%;
  margin: 5em auto 1.5em auto;
}

section:nth-of-type(3) .listen {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border: 1px solid #232323;
  text-decoration: none;
  color: #232323;
  letter-spacing: 2px;
  padding: 7px 20px;
  font-size: 14px;
  border-radius: 5px;
}

section:nth-of-type(3) .more {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  display: inline-block;
  border: 1px solid #232323;
  text-decoration: none;
  color: #232323;
  letter-spacing: 2px;
  padding: 7px 20px;
  font-size: 14px;
  border-radius: 5px;
}

section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-align: center;
  background: #232323;
  color: white;
}

section:nth-of-type(4) h2 {
  display: block;
  z-index: 2;
  position: relative;
  font-weight: normal;
  margin: 2em;
  font-size: 200%;
  line-height: 1.2em;
  letter-spacing: 0.4em;
}

section:nth-of-type(4) a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid rgba(124, 124, 124, 0.25);
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

section:nth-of-type(4) a ul {

  list-style-type: none;
}

section:nth-of-type(4) a ul li {

  line-height: 24px;
} */